<p>
  create-conference works!
</p>

<div class="row">
        <div class="col-md-12">
            <div class='page-header'><h1>{{title}}</h1></div>
        </div>
</div>

<div class="form-create-conference row">
	
	<form [formGroup]="create_conference_form" (ngSubmit)="save(category)" id="form-group">

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Title *</label>
			<div class="col-sm-6">
				<input formControlName="title"
						type='text' name='title'
					    class='form-control' required />
			</div>
			<div *ngIf="create_conference_form.get('title').touched && create_conference_form.get('title').hasError('required')" class="col-sm-2" id="text-alert">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Description *</label>
			<div class="col-sm-6">
				<input formControlName="description"
						type='text' name='description'
						class='form-control' required />
			</div>
			<div *ngIf="create_conference_form.get('description').touched && create_conference_form.get('description').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Category *</label>
			<div class="col-sm-6">
	
				<div class="form-group">
				  <select class="custom-select" id="inputGroupSelect04" 
						  formControlName="category" type='text' 
						  name='category' required>
					<option selected>Choose...</option>
						<ng-container *ngFor="let category of categories">
							<option [ngValue]="category">{{category.name}}</option>
						</ng-container>
				  </select>
				</div>
				
			</div>
			<div *ngIf="create_conference_form.get('category').touched && create_conference_form.get('category').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Start date *</label>
			<div class="col-sm-6">
				<input formControlName="startDate"
						type='text' name='startDate'
						class='form-control' required />
			</div>
			<div *ngIf="create_conference_form.get('startDate').touched && create_conference_form.get('startDate').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Icon *</label>
			<div class="col-sm-6">
				<input formControlName="icon"
						type='text' name='icon'
						class='form-control' required />
			</div>
			<div *ngIf="create_conference_form.get('icon').touched && create_conference_form.get('icon').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
			
			<label for="exampleFormControlFile1">Upload icon for conference</label>
			<input type="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileChange($event)" #fileInput>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Price </label>
			<div class="col-sm-6">
				<input formControlName="price"
						type='text' name='price'
						class='form-control' required />
			</div>
			<div *ngIf="create_conference_form.get('price').touched && create_conference_form.get('price').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

	</form>
</div>

<div class="buttons">
	<button class="btn btn-primary" (click)="goBack()" id="goBack">Back</button>
	<button class="btn btn-secondary" (click)="resetForm()" id="resetForm">Reset</button>
	<button class="btn btn-success" (click)="save(category)" id="save">Create</button>
</div>