<div class="row">
    <div class="col-md-12">
        <div class='page-header'><h1>{{title}}</h1></div>
    </div>
</div>


<div *ngIf="user" class="form-update-user row">
	
	<form [formGroup]="update_user_form" (ngSubmit)="createUser()" id="form-group">

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Name *</label>
			<div class="col-sm-6">
				<input formControlName="name"
						type='text' name='name'
					    class='form-control' required />
			</div>
			<div *ngIf="update_user_form.get('name').touched && update_user_form.get('name').hasError('required')" class="col-sm-2" id="text-alert">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Surname *</label>
			<div class="col-sm-6">
				<input formControlName="surname"
						type='text' name='surname'
						class='form-control' required />
			</div>
			<div *ngIf="update_user_form.get('surname').touched && update_user_form.get('surname').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Username *</label>
			<div class="col-sm-6">
				<input formControlName="username"
						type='text' name='username'
						class='form-control' required />
			</div>
			<div *ngIf="update_user_form.get('username').touched && update_user_form.get('username').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Email *</label>
			<div class="col-sm-6">
				<input formControlName="email"
						type='text' name='email'
						class='form-control' required />
			</div>
			<div *ngIf="update_user_form.get('email').touched && update_user_form.get('email').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<!--
		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Photo </label>
			<div class="col-sm-6">
				<input formControlName="photo"
						type='text' name='photo'
						class='form-control' required />
			</div>
			<div *ngIf="update_user_form.get('photo').touched && update_user_form.get('photo').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>
		-->
		
		<div class="form-group row image-upload">
			<label class="col-sm-2 col-form-label text-right" for="exampleFormControlFile1">Upload photo</label>
			<div class="col-sm-6">
				<input type="file" class="form-control-file" id="exampleFormControlFile1" 
					   formControlName="photo" name='photo' 
					   required (change)="onFileChange($event)" #fileInput>
			</div>
		</div>
		
		<!--
		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Role </label>
			<div class="col-sm-6">
				<input formControlName="role"
						type='text' name='role'
						class='form-control' required />
			</div>
			<div *ngIf="update_user_form.get('role').touched && update_user_form.get('role').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>
		-->
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Role </label>
			<div class="col-sm-6">	
				<div class="form-group">
					<select class="custom-select" id="inputGroupSelect04" 
							formControlName="role" type='text' 
							name='role' required>
						<option>user</option>
						<option>moderator</option>
						<option>admin</option>
					</select>
				</div>
				
			</div>
			<div *ngIf="update_user_form.get('role').touched && update_user_form.get('role').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

	</form>
	
</div>

<div class="buttons text-center">
	<button class="btn btn-primary" (click)="goBack()" id="goBack">Back</button>
	<button class="btn btn-secondary" (click)="resetForm()" id="resetForm">Reset</button>
	<button class="btn btn-success" (click)="save()" [disabled]="!buttonSaveDisabled" id="save">Save</button>
</div>