.page-header {
	margin-top: 5%;
	margin-bottom: 3%;
	display: inline-block;
}

.btn-create {
	margin-top: 5%;
	margin-bottom: 3%;
	display: inline-block;
	float: right;
}

.ui-icons {
	color: #212529;
	cursor: pointer;
 }
 
.ui-create-icon {
	color: #007bff;
	margin-right: 5px;
 }