<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Virtual Conference</a>
		</div>
	
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="nav-item"><a class="nav-link" routerLink="users">Home</a></li>
			
			<li *ngIf="authority === 'user'" class="nav-item">
				<a class="nav-link" routerLink="users">User Board</a>
			</li>
			
			<li *ngIf="authority === 'admin'" class="nav-item">
				<a class="nav-link" routerLink="users">Admin Board</a>
			</li>
			
			<li *ngIf="authority === 'admin'" class="nav-item">
				<a class="nav-link" routerLink="conferences">Moderator Board</a>
			</li>
			
			<li *ngIf="authority === 'moderator'" class="nav-item">
				<a class="nav-link" routerLink="conferences">Moderator Board</a>
			</li>
			
			<li *ngIf="!authority" class="nav-item">
				<a class="nav-link" routerLink="login">Login</a>
			</li>
			
			<li *ngIf="authority" class="nav-item">
				<a class="nav-link" routerLink="login" (click)="logout()">Logout</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container">
	<router-outlet></router-outlet>
</div>

