<div class="row">
	<button type="button" class="btn btn-secondary btn-lg" (click)="getAllConferences()">All</button>
	<button type="button" class="btn btn-secondary btn-lg" (click)="getConferencesByStatus(0)">Not consedered</button>
	<button type="button" class="btn btn-secondary btn-lg" (click)="getConferencesByStatus(1)">Publeshed</button>
	<button type="button" class="btn btn-secondary btn-lg" (click)="getConferencesByStatus(2)">Blocked</button>
</div>

<ul class="nav navbar-nav" routerLinkActive="active">
	<li class="nav-item"><a class="nav-link" routerLink="categories">Categories</a></li>
</ul>

<!-- Заголовок страницы -->
    <div class="row">
        <div class="col-md-12">
            <div class='page-header'><h1>{{title}}</h1></div>
			<a routerLink="/createconference" class="btn-create">
				<i class="fas fa-plus-circle ui-create-icon"></i>Create new conference
			</a>
        </div>
    </div>
	
<div class="container">
    <div class="row">
		
		<div class="card-deck">
			<div *ngFor="let conference of conferences" class="card">
				<img src="{{conference.icon}}" class="card-img-top" >
				<div class="card-img-overlay">
					<h5 class="card-title">{{conference.category.name}}</h5>
					<p class="card-text">{{conference.price}} $</p>
				</div>
				<div class="card-body">
					<h5 class="card-title">{{conference.title}}</h5>
					<p class="card-text">{{conference.description}}</p>
					<p class="card-text"><small class="text-muted">Creation date: {{conference.creationDate}} </small></p>
					<p class="card-text"><small class="text-muted">Start date: {{conference.startDate}}</small></p>
					<a routerLink="/conference/{{conference.id}}" style="margin-right: 5px;"><i class="far fa-edit ui-icons"></i></a>
				</div>
				<div class="card-footer">
					<a routerLink="/conference/{{conference.id}}" style="margin-right: 5px;"><i class="far fa-edit ui-icons"></i></a>
				</div>
			</div>
		</div>
		
        <!--<table class='table table-hover table-responsive table-bordered'>
            <tr>
				<th class="text-center"> Title </th>
				<th class="text-center"> Description </th>
				<th class="text-center"> Category </th>
				<th class="text-center"> Author </th>
				<th class="text-center"> Creation date </th>
				<th class="text-center"> Start date </th>
				<th class="text-center"> Status </th>
				<th class="text-center"> Icon </th>
				<th class="text-center"> Price </th>
				<th class="text-center"> Action </th>
            </tr>

            <tr *ngFor="let conference of conferences">
				<td class="text-center"> {{conference.title}} </td>
				<td class="text-center"> {{conference.description}} </td>
				<td class="text-center"> {{conference.category.name}} </td>
				<td class="text-center"> {{conference.author.username}} </td>
				<td class="text-center"> {{conference.creationDate}} </td>
				<td class="text-center"> {{conference.startDate}} </td>
				<td class="text-center"> {{conference.status}} </td>
				<td class="text-center"> 
					 <img src="{{conference.icon}}"/>
				</td>
				<td class="text-center"> {{conference.price}} </td>
				
                <td class="text-center">
					<a routerLink="/conference/{{conference.id}}" class="btn-view"> View </a>
                    <a routerLink="/editconference/{{conference.id}}" class="btn-edit"> </a>
					<button (click)="deleteConference(conference)"> Delete </button>
                </td>  
            </tr>
        </table>-->
    </div>
</div>
