<div class="row">
    <div class="col-md-12">
        <div class='page-header'><h1>{{title}}</h1></div>
    </div>
</div>

<ng-container *ngIf="conferences.length == 0">
	You have not attended a conference.
</ng-container>

<ng-container *ngFor="let conference of conferences">
	<div class="conf">
		<div class="conf-card-img" [ngStyle]="{'background-image': 'url(' + conference.icon + ')'}"></div>
		<div class="card conf-card mb-3">
			<div class="conf-card-header card-header"> {{ conference.category.name }} </div>
			<div class="card-body">
				<h5 class="card-title"> {{ conference.title }} by {{ conference.author.username }} </h5>
				<h4 class="card-text"> {{ conference.price }} $</h4>
				<p class="card-text"> {{ conference.description }} </p>
				<p class="card-text">
					<small class="text-muted"> Created: {{conference.creationDate}} </small>
					<small class="text-muted"> Start: {{conference.startDate}} </small>
				</p>
				
				<a routerLink="/userconference/{{conference.id}}" class="btn-view">
					<i class="fas fa-eye"></i>View
				</a>
				<a (click)="like(conference)" class="btn-like glyphicon">
					<i class="fas fa-heart" [className]="conference.like ? 'fas fa-heart glyphicon-heart' : 'fas fa-heart glyphicon-heart-empty'"></i>
				</a>
			</div>
		</div>
	</div>	
</ng-container>