<p>
  Edit conference component works!
</p>

<div class="row">
    <div class="col-md-12">
        <div class='page-header'><h1>{{title}}</h1></div>
    </div>
</div>


<div *ngIf="conference" class="form-update-conference row">
	
	<form [formGroup]="update_conference_form" (ngSubmit)="save()" id="form-group">

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Title *</label>
			<div class="col-sm-6">
				<input formControlName="title"
						type='text' name='title'
					    class='form-control' required />
			</div>
			<div *ngIf="update_conference_form.get('title').touched && update_conference_form.get('title').hasError('required')" class="col-sm-2" id="text-alert">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Description *</label>
			<div class="col-sm-6">
				<input formControlName="description"
						type='text' name='description'
						class='form-control' required />
			</div>
			<div *ngIf="update_conference_form.get('description').touched && update_conference_form.get('description').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Category *</label>
			<div class="col-sm-6">
				<input formControlName="category"
						type='text' name='category'
						class='form-control' required />
			</div>
			<div *ngIf="update_conference_form.get('category').touched && update_conference_form.get('category').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Author *</label>
			<div class="col-sm-6">
				<input formControlName="author"
						type='text' name='author'
						class='form-control' required />
			</div>
			<div *ngIf="update_conference_form.get('author').touched && update_conference_form.get('author').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Creation date *</label>
			<div class="col-sm-6">
				<input formControlName="creationDate"
						type='text' name='creationDate'
						class='form-control' required />
			</div>
			<div *ngIf="update_conference_form.get('creationDate').touched && update_conference_form.get('creationDate').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label text-right"> Start date *</label>
			<div class="col-sm-6">
				<input formControlName="startDate"
						type='text' name='startDate'
						class='form-control' required />
			</div>
			<div *ngIf="update_conference_form.get('startDate').touched && update_conference_form.get('startDate').hasError('required')" class="col-sm-2">
				<small class="text-danger">
					Field is empty
				</small>
			</div>
		</div>

	</form>
	
</div>

<div class="buttons">
	<button class="btn btn-primary" (click)="goBack()" id="goBack">Back</button>
	<button class="btn btn-secondary" (click)="resetForm()" id="resetForm">Reset</button>
	<button class="btn btn-success" (click)="save()" id="save">Save</button>
</div>